{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% load crispy_forms_tags %}

{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}

{% block inner_content %}
    <div class="row">
        <div class="col text-center">
            <h2>
                {% if token_fail %}
                    {% trans "Bad Token" %}
                {% else %}
                    {% trans "Change Password" %}
                {% endif %}
            </h2>
            <hr>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                {% element p %}
                    {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
                {% endelement %}
            {% else %}
                <div class="card mb-3 mt-3 p-4" style="background-color:rgba(255, 255, 255, 0.7);">
                    {% element form method="post" action=action_url %}
                        {% slot body %}
                            {% csrf_token %}
                            {{ redirect_field }}
                            {{ form|crispy }}
                        {% endslot %}
                        {% slot actions %}
                            <button type="submit" class="btn btn-light rounded-0" name="action">
                                <span class="font-weight-bold">Change Password</span>
                            </button>
                            <button type="submit" class="btn btn-danger rounded-0" form="logout-from-stage" tags="link,cancel">
                                <span class="font-weight-bold">Cancel</span>
                            </button>
                        {% endslot %}
                    {% endelement %}
                </div>
            {% endif %}
        </div>
    </div>
    {% if not cancel_url %}
        <form id="logout-from-stage"
              method="post"
              action="{% url 'account_logout' %}">
            <input type="hidden" name="next" value="{% url 'account_login' %}">
            {% csrf_token %}
        </form>
    {% endif %}
{% endblock inner_content %}
