{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="container text-light mt-5">

        <div class="row">
            <div class="col text-center">
                <h2>Your Quest Begins Now...</h2>
                <p>Tell us a bit about your group, and we'll craft a custom adventure designed just for you</p>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col">

                    <form action="https://api.web3forms.com/submit" method="POST">

                        <!-- crsf token for security -->
                        {% csrf_token %}

                        <input type="hidden" name="access_key" value="c18c600b-f9d3-444b-9515-535a40f2caea">
                        <input type="checkbox" name="botcheck" class="hidden" style="display: none;">

                        <div class="input-group mb-3">
                            <input type="text" class="form-control" aria-label="Full Name" id="full-name" required
                            placeholder="Your name (required)" name="name" pattern=".*\S+.*" autocomplete="on">
                        </div>

                        <div class="input-group mb-3">
                            <input type="email" class="form-control" aria-label="Email Address" id="email-address" 
                            required placeholder="Email Address (required)" name="email" autocomplete="on">
                        </div>

                        <hr>

                        <div class="input-group mb-3">
                            <textarea class="form-control" aria-label="Game Details" rows="3" 
                            placeholder="Location | Number of Players | Online or in person | Time of Day | Weeknight or Weekday" 
                            name="game-info"></textarea>
                        </div>    

                        <div class="input-group mb-3">
                            <textarea class="form-control" aria-label="Your Message" rows="6" placeholder="Tell us about your group and the kind of story you'd love!" required
                            name="message"></textarea>
                        </div>
                        <hr> 
                        <div class="d-grid gap-2 col-6 mx-auto">                            
                            <button type="submit" class="btn btn-outline-light rounded-0">Send Message</button>
                        </div>

                    </form>
                
            </div>
        </div>


    </div>

{% endblock %}