{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="container text-light">
    <div class="row">
        <div class="col text-center">
            <h1 class="mt-5">Professional Game Masters for Hire</h1>
            <h4>Your Story. Your Friends. An Epic Adventure… Run by Pro Dungeon Masters.</h4>

            <div class="d-grid gap-2 col-6 col-lg-4 mx-auto mt-5 mb-4">
                <a class="btn btn-lg btn-outline-light rounded-0" href="{% url 'games' %}" role="button">Book a game today!</a>
            </div>
            
            
            
        </div>
    </div>



    <div class="row">
        <div class="col col-l-8 mt-5 mx-auto">

            <div class="container">
                <div class="carousel slide text-center text-white fw-semibold py-5 pointer-event" id="carouselExampleCaptions" data-bs-ride="carousel">
                    <div class="carousel-inner">

                        <div class="carousel-item active">
                            <div class="row justify-content-center">
                                <div class="col col-lg-8">
                                    <!-- Product image -->
                                    <img src="/media/vecna-cover-art_rHIVcM4.jpg" class="d-block w-100 carousel-image" alt="f">

                                    <div class="carousel-card">
                                        <div class="row carousel-header">
                                            <div class="col">
                                                <!-- Optional Headline Text -->
                                                <h2 class="fw-bold display-5"></h2>
                                            </div>
                                        </div>

                                        <!-- Body text -->
                                        <div class="row carousel-body">
                                            <div class="d-none d-lg-block col-lg-2"></div>
                                            
                                            <div class="col col-lg-8">
                                                <!-- Product description, removed on smaller screens -->
                                                <p class="d-none d-md-block">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam feugiat erat quis pulvinar semper. Cras commodo vitae libero ut consequat.</p>
                                                <!-- Call to action button -->
                                                <p>
                                                    <a class="btn btn-outline-light btn-lg" href="">Buy now</a>
                                                </p>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row justify-content-center">
                                <div class="col col-lg-8">
                                    <!-- Product image -->
                                    <img src="/media/swamp_king_dice.jpg" class="d-block w-100 carousel-image" alt="f">

                                    <div class="carousel-card">
                                        <div class="row carousel-header">
                                            <div class="col">
                                                <!-- Optional Headline Text -->
                                                <h2 class="fw-bold display-5"></h2>
                                            </div>
                                        </div>

                                        <!-- Body text -->
                                        <div class="row carousel-body">
                                            <div class="d-none d-lg-block col-lg-2"></div>
                                            
                                            <div class="col col-lg-8">
                                                <!-- Product description, removed on smaller screens -->
                                                <p class="d-none d-md-block">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam feugiat erat quis pulvinar semper. Cras commodo vitae libero ut consequat.</p>
                                                <!-- Call to action button -->
                                                <p>
                                                    <a class="btn btn-outline-light btn-lg" href="">Buy now</a>
                                                </p>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                        </div>


                    </div><button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#carouselExampleCaptions" type="button"><span aria-hidden="true" class="carousel-control-prev-icon"></span> <span class="visually-hidden">Previous</span></button> <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#carouselExampleCaptions" type="button"><span aria-hidden="true" class="carousel-control-next-icon"></span> <span class="visually-hidden">Next</span></button>
                </div>

            
            
        </div>
    </div>

</div>

{% endblock %}