{% extends "base.html" %}
{% block extra_meta %}  
    <meta name="description" content="Rolldark Game Master Agency, the first agency for professional game masters for roleplaying games. A platform for freelance actors and voice artists to connect with groups.">
{% endblock %}

{% block extra_title %}Home{% endblock %}


{% load static %}

{% block content %}


<div class="container text-light">
    <div class="row">
        <div class="col">
            <h1 class="mt-5 text-center fr-bold">Professional Game Masters for Hire</h1>
            <h4 class="text-center">Your Story. Your Friends. An Epic Adventure… Run by Pro Dungeon Masters.</h4>
            <p class="fw-light text-center mt-5">Rolldark Game Master Agency is the first agency in the UK providing professional Game Masters for your tabletop roleplaying game, both online and in person. All of our Game Masters come from a performing arts background, ensuring every game you play with us is an experience to remember.</p>
            <p class="fw-light text-center">Hire one of our Game Masters today to run a game for you and your friends, or join an existing party in one of our public games!</p>
            <div class="d-grid gap-2 col-6 col-lg-4 mx-auto mt-5 mb-4">
                <p class="p-2 flex-fill">Get your free custom game quote in 24hrs</p>
                <ul class="p-2 flex-fill">
                    <li>Free consultation & session zero</li>
                    <li>Custom built adventures & campaigns</li>
                    <li>All props & materials included</li>
                </ul>
            </div>

            <div class="d-grid gap-2 col-8 col-lg-6 mx-auto mt-5 mb-4">
                <a class="btn btn-lg btn-danger rounded-0" href="{% url 'contact_us' %}" role="button">Get a quote today!</a>
            </div>
            
        </div>
    </div>



    <div class="row">
        <div class="col col-l-8 mt-5 mx-auto">

            <div class="container">
                <div class="carousel slide text-center text-white fw-semibold py-5 pointer-event" id="carouselExampleCaptions" data-bs-ride="carousel">
                    <div class="carousel-inner">

                        <!-- Default pane, needed to assign the 'active' class to make carousel work -->

                        <div class="carousel-item active">
                            <div class="row justify-content-center">
                                <div class="col col-lg-8">

                                    <img src="{{ MEDIA_URL }}doorway_background.webp" class="d-block w-100 carousel-image" alt="Browse our games">

                                    <div class="carousel-card">
                                        <div class="row carousel-header">
                                            <div class="col">
                                                
                                                <h2 class="fw-bold display-5 mt-3">New to Roleplaying Games?</h2>
                                            </div>
                                        </div>

                                        <div class="row carousel-body">
                                            <div class="d-none d-lg-block col-lg-2"></div>
                                            
                                            <div class="col col-lg-8">
                                                
                                                <p class="d-none d-md-block">No Problem! Our public games are a great place to start playing your favourite Table Top RPG. Begin your adventure today!</p>
                                                
                                                <p>
                                                    <a class="btn btn-outline-light btn-lg" href="{% url 'games' %}">Browse our games</a>
                                                </p>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                        </div>

                        {% for item in call_to_action %}

                        <div {% if item.dark_text %}class="carousel-item text-black"{% else %}class="carousel-item"{% endif %}>
                            <div class="row justify-content-center">
                                <div class="col col-lg-8">
                                    <!-- Product image -->
                                    {% if item.image %}
                                        <img src="{{ item.image.url }}" alt="{{ item.name }}" class="d-block w-100 carousel-image">
                                    {% elif item.image_url %}
                                        <img src="{{ item.image_url }}" alt="{{ item.name }}" class="d-block w-100 carousel-image">
                                    {% else %}
                                        <img src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}" class="d-block w-100 carousel-image">
                                    {% endif %}

                                    <div class="carousel-card">
                                        <div class="row carousel-header">
                                            <div class="col">
                                                <!-- Optional Headline Text -->
                                                <h2 class="fw-bold display-5">{% if item.headline %}{{ item.headline}}{% endif %}</h2>
                                            </div>
                                        </div>

                                        <!-- Body text -->
                                        <div class="row carousel-body">
                                            <div class="d-none d-lg-block col-lg-2"></div>
                                            
                                            <div class="col col-lg-8">
                                                <!-- Product description, removed on smaller screens -->
                                                <p class="d-none d-md-block">{{ item.description }}</p>
                                                <!-- Call to action button -->
                                                <p>
                                                    <a {% if item.dark_text %}class="btn btn-outline-dark btn-lg"{% else %}class="btn btn-outline-light btn-lg"{% endif %} href="{{ item.product_url }}">
                                                        Buy now
                                                    </a>
                                                </p>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                        </div>

                        {% endfor %}


                    </div><button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#carouselExampleCaptions" type="button"><span aria-hidden="true" class="carousel-control-prev-icon"></span> <span class="visually-hidden">Previous</span></button> <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#carouselExampleCaptions" type="button"><span aria-hidden="true" class="carousel-control-next-icon"></span> <span class="visually-hidden">Next</span></button>
                </div>

            
            
        </div>
    </div>

</div>

{% endblock %}