{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="container mt-5">
        <div class="row">
            <div class="col text-center text-light">
                <a href="{% url 'add_call_to_action' %}" class="btn btn-light rounded-0">Add a new call to action</a>                
            </div>
        </div>

        <div class="row mt-5">
            <div class="col">
                
                <div class="row">
                    {% for item in call_to_action %}
                    <!-- iterate through call_to_actions -->
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">


                        <!-- display card for each call_to_action -->
                        <div class="card h-100 border-0">


                                <!-- call_to_action image -->
                                {% if item.image %}
                                    <a href="{% url 'edit_call_to_action' item.id %}"> 
                                        <img class="card-img-top img-fluid" src="{{ item.image.url }}" alt="{{ item.name }}">
                                    </a>
                                {% elif item.image_url %}
                                    <a href="{% url 'edit_call_to_action' item.id %}"> 
                                        <img class="card-img-top img-fluid" src="{{ item.image_url }}" alt="{{ item.name }}">
                                    </a>
                                {% else %}
                                    <a href="{% url 'edit_call_to_action' item.id %}">
                                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.name }}">
                                    </a>
                                {% endif %}
                                
                                <!-- call_to_action description -->
                                <div class="card-body pb-0">
                                    <p class="mb-0">{{ item.name }}</p>
                                </div>
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold">{{ item.description }}</p>
                                        </div>                                        
                                    </div>
                                    {% if request.user.is_superuser %}
                                        <div class="row">
                                            <div class="col">
                                                <small class="ml-3">
                                                    <a href="{% url 'edit_call_to_action' item.id %}">Edit</a> | 
                                                    <a class="text-danger" href="{% url 'delete_call_to_action' item.id %}">Delete</a>
                                                </small>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                        </div>

                               
                    </div>

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}