{% extends "base.html" %}
{% load i18n %}
{% load static %}


{% block content %}
    <div class="container mt-5 text-light">
        {% if messages %}
            <div>
                <strong>{% trans "Messages:" %}</strong>
                <ul>
                    {% for message in messages %}<li>{{ message }}</li>{% endfor %}
                </ul>
            </div>
        {% endif %}
        
        {% block inner_content %}
        {% endblock inner_content %}
    </div>
{% endblock content %}
{% block extra_body %}
{% endblock extra_body %}
