{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container text-light">
    <div class="row">
        <div class="col text-center">
            <h2>Server Time Out</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <p>Sorry, there was no response from the server. Please wait a few minutes before reloading the page you were using.</p>
            <a class="btn btn-light rounded-0" href="{% url 'home' %}">Return to Homepage</a>
        </div>
    </div>
</div>
{% endblock %}