{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <div class="row">
                    {% for product in products %}
                    <!-- iterate through products -->
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">


                        <!-- display card for each product -->
                        <div class="card h-100 border-0">


                                <!-- Product image -->
                                {% if product.image %}
                                    <a href="{% url 'product_detail' product.id %}"> 
                                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                    </a>
                                {% else %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                    </a>
                                {% endif %}
                                
                                <!-- Product description -->
                                <div class="card-body pb-0">
                                    <p class="mb-0">{{ product.name }}</p>
                                </div>
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold">£{{ product.price }}</p>
                                            {% if product.delivery_charge %}
                                                <p class="small mt-1 mb-0 text-secondary">+ £2.50 delivery</p>
                                            {% endif %}
                                        </div>                                        
                                    </div>
                                    {% if request.user.is_superuser %}
                                        <div class="row">
                                            <div class="col">
                                                <small class="ml-3">
                                                    <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                                                    <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                                </small>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                        </div>

                               
                    </div>

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}