{% extends "base.html" %}
{% load static %}

{% block extra_meta %}  
    <meta name="description" content="Rolldark Game Master Agency, the first agency for professional game masters for roleplaying games. A platform for freelance actors and voice artists to connect with groups.">
{% endblock %}

{% block extra_title %}{{ product.name }}{% endblock %}

{% block content %}

    <!-- Background overlay to cover home image -->
    <div class="overlay"></div>

    <!-- hidden elements send price & delivery to JS -->
    <p id="default-price" hidden>{{ product.price }}</p>
    <p id="default-delivery" hidden>{{ delivery_cost|floatformat:2 }}</p>

    <div class="container mt-3">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-5 offset-lg-1">
                <div class="image-container my-5">
                    <!-- Product image -->
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank"> 
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                    {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5">
                <div class="product-details-container mb-5 mt-md-5 text-light">

                    <p class="mb-0">{{ product.name }}</p>
                    <p class="mb-0">£<span id="default-price">{{ product.price }}</span></p>
                    {% if product.category %}
                        <p class="small mt-1 mb-0">
                            <a class="link-secondary link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover" href="{% url 'products' %}?category={{ product.category.name }}">
                                {{ product.category.friendly_name }}
                            </a>
                        </p>
                    {% endif %}
                    
                    <p class="mt-3">{{ product.description | linebreaks }}</p>

                    {% if product.game_dates %}

                        <form method="POST" action="{% url 'add_product_to_cart' product.id %}">
                            {% csrf_token %}
                            
                                <select class="form-select mb-2" id="option_{{ product.id }}" onchange="priceFunction()" name="option_{{ product.id }}">
                                    <option value="" disabled selected>Please select an option</option>

                                    {% if product.is_campaign %}
                                        <option value="campaign_ticket">Campaign Ticket</option>
                                    {% endif %}

                                    {% for key, value in product.game_dates.items %}
                                        <option value="{{ value }}">{{ value }}</option>
                                    {% endfor %}

                                </select>
                            

                            <!-- Returns quantity & product ID -->
                            <input class="form-control" type="number" 
                                name="quantity" value="1" min="1" max="99" 
                                data-item_id="{{ product.id }}" 
                                id="id_qty_{{ product.id }}" onchange="priceFunction()">
                            
                            <!-- Price indicator - JS inserts price from priceFunction() -->                        
                            <div id="price-container">
                                <!-- display price based on option -->
                                <p>                                    
                                    <span id="currency"></span>
                                    <span id="price">Please select an option</span>
                                </p>
                                
                            </div>
                            


                            <button type="submit" class="btn btn-light">Add to Cart</button>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">

                        </form>
                    {% else %}

                        <form method="POST" action="{% url 'add_product_to_cart' product.id %}">
                            {% csrf_token %}
                            
                            <!-- Returns quantity & product ID -->
                            <input class="form-control mb-2" type="number" 
                                name="quantity" value="1" min="1" max="99" 
                                data-item_id="{{ product.id }}" 
                                id="id_qty_{{ product.id }}" onchange="simplePriceFunction()">
                            
                            <!-- Price indicator - JS inserts price from simplePriceFunction() -->                        
                            <div id="price-container">
                                <!-- display price based on option -->
                                <p>
                                    <span>Subtotal: </span>
                                    <span id="currency">£</span>
                                    <span id="price">{{ product.price }}</span>
                                </p>
                                
                                <p>
                                    <span class="fw-light">Delivery charge</span>
                                    {% if product.delivery_charge %}
                                    <span class="fw-light">£</span>
                                    <span id="total-delivery" class="fw-light">{{ delivery_cost|floatformat:2 }}</span>
                                    {% else %}
                                    <span class="fw-light">N/A</span>
                                    {% endif %}
                                </p>

                                <p class="fw-bold">
                                    <span>Total: </span>
                                    <span id="currency">£</span>
                                    <span id="total-price">{{ product.price }}</span>
                                </p>


                                
                                
                            </div>
                            


                            <button type="submit" class="btn btn-light rounded-0">Add to Cart</button>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">

                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}

{% block post_load_js %}
{{ block.super }}

    <script type="text/javascript">

        function priceFunction() {
            // Get length of options for campaign_ticket
            let length = document.getElementById("option_{{ product.id }}").options.length - 2;
            // Get selected option and price
            let option = document.getElementById("option_{{ product.id }}").value;
            let quantity = document.getElementById("id_qty_{{ product.id }}").value;
            let price = parseFloat(document.getElementById("default-price").innerText);

            // Display price based on selection
            if (option == "campaign_ticket")
                document.getElementById("price").innerHTML = ((price * length) * quantity).toFixed(2);
            else
                document.getElementById("price").innerHTML = (price * quantity).toFixed(2);

            // Display currency symbol when option selected
            if (option == "")
                document.getElementById("currency").innerHTML = "";
            else
                document.getElementById("currency").innerHTML = "£";
        };

        function simplePriceFunction() {
            let amount = document.getElementById("id_qty_{{ product.id }}").value;
            let cost = parseFloat(document.getElementById("default-price").innerText);
            let delivery = parseFloat(document.getElementById("default-delivery").innerText);
            let subtotal = (amount * cost)
            let deliveryTotal = (amount * delivery)

            document.getElementById("price").innerHTML = subtotal.toFixed(2);

            document.getElementById("total-delivery").innerHTML = deliveryTotal.toFixed(2);

            document.getElementById("total-price").innerHTML = (subtotal + deliveryTotal).toFixed(2);
        }
    </script>

{% endblock %}