{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="container mt-3">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    <!-- Product image -->
                    {% if dice.image %}
                        <a href="{{ dice.image.url }}" target="_blank"> 
                            <img class="card-img-top img-fluid" src="{{ dice.image.url }}" alt="{{ dice.name }}">
                        </a>
                    {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ dice.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="dice-details-container mb-5 mt-md-5 text-light">

                    <p class="mb-0">{{ dice.name }}</p>
                    <p class="mb-0">£<span id="default-price">{{ dice.price }}</span></p>
                    {% if dice.category %}
                        <p class="small mt-1 mb-0">
                            <a class="link-secondary link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover" href="{% url 'dice' %}?category={{ dice.category.name }}">
                                {{ dice.category.friendly_name }}
                            </a>
                        </p>
                    {% endif %}
                    
                    <p class="mt-3">{{ dice.description }}</p>

                    <form method="POST" action="{% url 'add_dice_to_cart' dice.id %}">
                        {% csrf_token %}

                        <!-- Returns quantity & dice ID -->
                        <input class="form-control" type="number" 
                            name="quantity" value="1" min="1" max="99" 
                            data-item_id="{{ dice.id }}" 
                            id="id_qty_{{ dice.id }}" onchange="priceFunction()">
                        
                        <!-- Price indicator - JS inserts price from priceFunction() -->                        
                        <div id="price-container">
                            <!-- hidden element sends price to JS -->
                            <p id="default-price" hidden>{{ dice.price }}</p>
                            <!-- display price based on option -->
                            <p>
                                <span id="currency">£</span>
                                <span id="price">{{ dice.price }}</span>
                            </p>
                            
                        </div>
                        


                        <button type="submit" class="btn btn-light">Add to Cart</button>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">

                    </form>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}

{% block post_load_js %}

    <script type="text/javascript">

        function priceFunction() {
            // Get selected quantity and price
            let quantity = parseFloat(document.getElementById("id_qty_{{ dice.id }}").quantity);
            let price = parseFloat(document.getElementById("default-price").innerText);

            // Display price based on selection
            document.getElementById("price").innerHTML = (price * quantity).toFixed(2);            
        }
    </script>

{% endblock %}